#first {
    height: 100px;
    width: 100px;
    background-color: red;
    transition: .5s;
}

#first:hover {
    /* height: 200px;
    width: 200px; */
    transform: scale(2) translate(50px, 50px) rotate(360deg);
    background-color: blue;
}