h1 {
    font-size: 4px;
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 10px
    }
}

@media screen and (mid-width: 700px) {
    h1 {
        font-size: 20px;
    }
}

@media print {
    h1 {
        color: red
    }
}

@media (orientation: landscape) {
    h1 {
        background-color: blue
    }
}

@media (orientation: portrait) {
    h1 {
        background-color: lightgray
    }
}